.DS_Store
.gradle
*.iml
/local.properties
/.idea
/build
*/build
*/gen
*/bin
/libraries/**/build
/libraries/**/.classpath
/libraries/**/.project
/libraries/**/.settings
/libraries/**/gen
/libraries/**/bin
app/.settings
tools/local.properties
*.traces
/captures/
gradlew
gradlew.bat
